button{
    border: purple solid 2px;
    color: rgb(105, 25, 180);
    background-color: antiquewhite;
}

 a{
     text-decoration: none;
     color:skyblue;
     font-size: large; 
    }

a:hover{
    color: greenyellow;
}
 .pic{
     width: 300px; /* class */
     height: 220px;
     border: solid lightskyblue 2px;
    }
    #siteName{      /* id */
            color: green;
            font-size: xx-large;
            font-style: italic ;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color:rgb(239, 240, 188);
            text-decoration: underline;
    }
    div.table1{
        display: table;
        width: 100%;
        
    }
    div.row1{
        display: table-row;
        
    }
    div.row1 > div {
        display: table-cell;
        
        width: 50%;
        vertical-align: middle;
    } 
    div.table2{
        display: table;
        width: 100%;
        
    }
    div.row2{
        display: table-row;
    }
    div.row2 > div {
        display: table-cell;
        width: 14.3%;
        text-align: center;
    } div.table3{
        display: table;
        width: 100%;
    }
    div.row3{
        display: table-row;
        
    }
    div.row3 > div {
        display: table-cell;
        
        width: 33.3%;
        vertical-align: middle;
    
    } 
    div.row3  div {
        display: table-cell;
       
        width: 33.3%;
        vertical-align: middle;
        
    } 
    #prev{
        position: relative;
        left: 30;
    }
    #next{
        position: relative;
        right: 30;

    }
    div.table4{
        display: table;
        width: 100%;
       
    }
    div.row4{
        display: table-row;
       
    }
    div.row4 > div {
        display: table-cell;
       
        width: 33.3%;
    
    } 
   
    div.row5{
        display: table-row;
       
    }
    div.row5 > div {
        display: table-cell;
       
        width: 33.3%;
    
    } 
   
    